<div class="card-body">
    <mat-card-title class="titulo">Asociar </mat-card-title>
    <mat-card class="margenArriba">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
             <!--Informacion creacion solicitud -->
             <mat-step [stepControl]="AsociarFormGroup">
                <form [formGroup]="AsociarFormGroup">
                    <ng-template matStepLabel>Codigo de Muestra (Ingrese Numero)</ng-template>
                    <div class="container">
                        <!--Inicia Row -->
                        <div class="row"> 
                            <mat-form-field class="col-lg-5 col-md-4 col-sm-12">
                                <mat-label>Ingrese el No. De muestra</mat-label>
                             <input matInput #noExpediente placeholder="AAAAABB-99-999999" maxlength="17" formControlName="codigoMuestraFormControl" >
                                <mat-hint align="end">{{noExpediente.value.length}} / 17</mat-hint>
                            </mat-form-field>
 
                        </div>
                        <div class="modal-footer">
                           
                            <div>
                                <button mat-raised-button matStepperNext class="botones margenBotones" type="button" 
                                [disabled]="AsociarFormGroup.invalid" (click)="getMuestra()">
                                       Buscar
                                </button>
                            </div>
                            -
                            <div>
                                                   
                                <button mat-raised-button matStepperNext class="botones margenBotones" type="button"
                                [disabled]="AsociarFormGroup.invalid">Siguiente</button>
                             </div>
                        </div>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>

</div>
